 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Employee List</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">
</head>

<body class="bg-light">

<div class="container mt-4">

    <h2 class="text-center mb-4">Employee Directory</h2>

    <!-- SEARCH -->
    <form th:action="@{/employee/search}" method="get" class="d-flex justify-content-center mb-3">
        <input type="text" name="keyword" class="form-control w-25 me-2" placeholder="Search employee...">
        <button class="btn btn-primary">Search</button>
    </form>

    <!-- ADD BUTTON -->
    <div sec:authorize="hasRole('EMPLOYEE')">
    <div class="text-end mb-3">
    
        <a th:href="@{/employee/showformforadd}" class="btn btn-success">
            <i class="bi bi-person-plus"></i> Add Employee
        </a>
        </div>
    </div>

    <!-- TABLE -->
    <table class="table table-bordered table-hover">

        <thead class="table-dark">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Education</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="emp : ${employee}">

            <td th:text="${emp.firstName}"></td>
            <td th:text="${emp.lastName}"></td>
            <td th:text="${emp.email}"></td>
            <td th:text="${emp.education}"></td>

            <td>

                <!-- UPDATE -->
              <div sec:authorize="hasRole('MANAGER')">
                <a th:href="@{/employee/showFormForUpdate(employeeId=${emp.employeeId})}"
                   class="btn btn-warning btn-sm">
                    <i class="bi bi-pencil-square"></i>
                </a>
                 
                 </div>
				
                <!-- DELETE -->
              
                <a th:href="@{/employee/deleteshowform(employeeId=${emp.employeeId})}"
                   class="btn btn-danger btn-sm"
                   onclick="return confirm('Delete this employee?')">
                    <i class="bi bi-trash"></i>
                </a>
                

            
            </td>

        </tr>
        </tbody>

    </table>
        <div class="text-end mb-3">
        <a th:href="@{/employee/logout}" class="btn btn-success">
            <i class="bi bi-person-plus"></i> Logout
        </a>
</div>
</div>

</body>
</html>